:root {
    --header-height: calc(30px + 3vh);
    --body-height: calc(100vh - var(--header-height));
    --header-font-size: calc(var(--header-height) / 2);
    --body-font-size: calc(5px + var(--body-height) / 60);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: normal;
}

p {
    font-size: calc(var(--body-font-size)*1.2);
}

form,
form .form-field {
    display: flex;
    flex-direction: column;
}

input,
textarea,
select {
    margin: calc(var(--body-font-size)/2) 0;
    padding: calc(var(--body-font-size)/2);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: calc(var(--body-font-size));
    font-family: unset;
}

.button {
    display: block;
    margin: calc(var(--body-font-size)/2);
    padding: calc(var(--body-font-size)/2);
    background-color: #0077ff;
    cursor: pointer;
    border: none;
    border-radius: calc(var(--body-font-size)/4);
    font-size: calc(var(--body-font-size));
    color: white;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #005fcc;
}

.button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.close-button {
    position: absolute;
    top: 1%;
    right: 2%;
    cursor: pointer;
    font-size: calc(var(--body-font-size)*2);
    color: #0077ff;
}

.header {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: #9bc8ff;
}

.header h1 {
    margin-top: calc(var(--header-font-size)/2);
    margin-left: calc(var(--header-font-size)/4);
    font-size: var(--header-font-size);
    text-align: center;
}

.header .button {
    margin-left: auto;
    padding: calc(var(--header-font-size)/3);
    font-size: calc(var(--header-font-size)/1.5);
}

.header .placeholder {
    margin-left: auto;
    padding: calc(var(--header-font-size)/3);
    font-size: calc(var(--header-font-size)/1.5);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: var(--body-height);
    background-color: #dcf0ff;
    font-size: var(--body-font-size);
}

.login-container h1 {
    margin: calc(var(--body-font-size)/2);
    text-align: center;
}

.login-container p {
    text-align: center;
}

.login-container .button {
    margin: calc(var(--body-font-size)/2) 0 0 0;
}

.login-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: calc(var(--body-height)/15);
    background-color: white;
    border-radius: calc(var(--body-height)/25);
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    background-color: #cee4ff;
}

.file-system-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    top: var(--header-height);
    left: 0;
    width: 100%;
    font-size: var(--body-font-size);
}

.file-system #file-system-header {
    display: flex;
    margin: 0;
    padding: calc(var(--body-font-size)/2);
    font-size: calc(var(--body-font-size)*1.5);
}

#new-file-button,
#new-dir-button,
#edit-perms-button {
    font-weight: 600;
}

#edit-perms-button {
    display: none;
    margin-left: auto;
}

.file-system {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.file-system-container h1 {
    margin-top: calc(var(--body-font-size)/2);
    margin-left: calc(var(--body-font-size)/2);
    font-size: calc(var(--body-font-size)*1.5);
}

.file-system-container ul,
.file-system-container ol {
    padding-inline-start: 0;
    line-height: 1.5;
}

#tree-container {
    display: flex;
    flex: 1;
}

.popup {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 3%;
    visibility: hidden;
    opacity: 0;
    width: max-content;
    padding: calc(var(--body-height)/30);
    transition: opacity 0.25s ease;
    background-color: white;
    border-radius: calc(var(--body-height)/50);
}

.popup:hover {
    cursor: move;
}

.popup.show {
    visibility: visible;
    opacity: 1;
}

.popup h1 {
    margin-top: 0;
    margin-bottom: calc(var(--body-font-size)/2);
    font-size: calc(var(--body-font-size)*1.2);
    text-align: center;
}

.popup h2 {
    margin-bottom: calc(var(--body-font-size)/2);
    font-size: calc(var(--body-font-size)*1.1);
}

.popup .button {
    margin: calc(var(--body-font-size)/2) 0 0 0;
}

.popup label {
    font-weight: bold;
}

.popup input[type="checkbox"] {
    display: block;
    margin: auto;
}

.popup #perms-table {
    display: none;
}

#file-display {
    top: 70%;
    left: 3%;
}